.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-pro-form-login-logo {
  width: 50px !important;
  height: 50px !important;
}

.logo {
  color: #042bf8;
}

